<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="clr-namespace:Bonsai.Shaders;assembly=Bonsai.Shaders">
  <Width>1920</Width>
  <Height>1080</Height>
  <VSync>On</VSync>
  <SwapSync>true</SwapSync>
  <ClearColor>Black</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <CursorVisible>true</CursorVisible>
  <Location xsi:nil="true" />
  <WindowBorder>Resizable</WindowBorder>
  <WindowState>Fullscreen</WindowState>
  <DisplayDevice>Second</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="EnableState">
      <Capability>Blend</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="EnableState">
      <Capability>PointSprite</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="EnableState">
      <Capability>ProgramPointSize</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="BlendFunctionState">
      <SourceFactor>SrcAlpha</SourceFactor>
      <DestinationFactor>OneMinusSrcAlpha</DestinationFactor>
    </StateConfiguration>
    <StateConfiguration xsi:type="EnableState">
      <Capability>DepthTest</Capability>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>virtual_paramecia</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>virtual_paramecia.vert</VertexShader>
      <FragmentShader>virtual_paramecia.frag</FragmentShader>
      <MeshName />
    </ShaderConfiguration>
  </Shaders>
  <Textures />
  <Meshes />
</ShaderWindowSettings>