<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="clr-namespace:Bonsai.Shaders;assembly=Bonsai.Shaders">
  <Width>800</Width>
  <Height>800</Height>
  <VSync>On</VSync>
  <SwapSync>true</SwapSync>
  <ClearColor>Black</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <CursorVisible>true</CursorVisible>
  <Location xsi:nil="true" />
  <WindowBorder>Hidden</WindowBorder>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <TargetUpdateFrequency xsi:nil="true" />
  <RenderState />
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>visual_stimuli</Name>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>visual_stimuli.vert</VertexShader>
      <FragmentShader>visual_stimuli.frag</FragmentShader>
      <MeshName>visual_stimuli</MeshName>
    </ShaderConfiguration>
  </Shaders>
  <Textures />
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>visual_stimuli</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>